.App {
  text-align: left;
  margin-top: 0px;
  margin-left: 10px;
  margin-right: 10px;
}

@media screen and (min-width: 700px) {
  .App { 
     margin-left: 10%;
     margin-right: 10%;
  } 
}

.App-link {
  color: #61dafb;
}

/* I like lower-case text on button links */
.MuiButton-root {
  text-transform: none !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
