
p {
  margin-top: 0px;
  margin-bottom: 0px;
}

#form-dialog-title {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.formControlInput {
  width: 11em !important;
  margin-top: 0px;
  margin-right: 1.0em !important; 
}

.formControlInputNarrow {
  width: 5.0em !important;
  margin-top: 0px;
  margin-right: 1.0em !important; 
}

.formControlSelect {
  min-width: 11em !important;
  margin-top: 12px !important;
}

.formControlSelectNarrow {
  width: 5em !important;
  margin-top: 12px !important;
}

.MuiSelect-root {
  padding-top: 2px !important;
  padding-bottom: 3px !important;
  width: 10em !important;
  margin-right: 1.0em !important; 
}
