.title {
  display:inline-block; font-size: 1.5em; margin-left: 1.0em; margin-right: 1.0em; margin-top: 0.5em;
}

.MuiDataGrid-colCell {
  padding-left: 8px !important;
  padding-right: 8px !important;
}

.formControlSelect {
  width: 10em !important;
  margin-right: 1.0em !important; 
}

.buttonLink {
  background: none!important;
  border: none;
  padding: 0!important;
  /*optional*/
  font-family: arial, sans-serif;
  /*input has OS specific font-family*/
  color: #069;
  text-decoration: underline;
  cursor: pointer;
}


.tableCellCentered {
  text-align: center !important;
}

.flagCentered {
  display: block;
  margin-left: auto;
  margin-right: auto;
}