<form>
    <h2 mat-dialog-title>Edit Ranking
        <span style="float:right;">
            <button mat-button [disabled]="!formIsValid()" (click)="doAction()">{{action}}</button>&nbsp;
            <button mat-button (click)="closeDialog()" mat-flat-button color="warn">Cancel</button>
        </span>
    </h2>

    <h3>{{local_data.PlayerName}} {{local_data.Year}}</h3>

    <div>
        <mat-form-field>
            <input matInput type="number" placeholder="Points" [(ngModel)]="ranking.Points" required="true" [ngModelOptions]="{standalone: true}">
        </mat-form-field>

        <mat-form-field>
            <input matInput type="number" placeholder="PrizeMoney" [(ngModel)]="ranking.PrizeMoney" required="true" [ngModelOptions]="{standalone: true}">
        </mat-form-field>
    </div>

    <div>
        <mat-form-field>
            <input matInput type="number" placeholder="SinglesTitles" [(ngModel)]="ranking.SinglesTitles" required="true" [ngModelOptions]="{standalone: true}">
        </mat-form-field>

        <mat-form-field>
            <input matInput type="number" placeholder="DoublesTitles" [(ngModel)]="ranking.DoublesTitles" required="true" [ngModelOptions]="{standalone: true}">
        </mat-form-field>
    </div>

    <div>
        <mat-form-field>
            <input matInput type="number" placeholder="SinglesWin" [(ngModel)]="ranking.SinglesWin" required="true" [ngModelOptions]="{standalone: true}">
        </mat-form-field>

        <mat-form-field>
            <input matInput type="number" placeholder="SinglesLoss" [(ngModel)]="ranking.SinglesLoss" required="true" [ngModelOptions]="{standalone: true}">
        </mat-form-field>
    </div>

</form>
